.create-form{
  position: absolute;
  top: 85px;
  right: 30px;
  padding: 10px;
  border-color: #6cbc6c;
  background-color: #6cbc6c;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.form-row{
  display: flex;
  padding: 0 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-row div {
  flex: 1;
}

.form-row div:last-child {
  text-align: right;
}

.form-row:nth-child(odd){
  background-color: aliceblue;
}

.form-row:first-child{
  padding: 10px 5px;
  background-color: lightgrey;
}

.remove-form{
  padding: 5px;
  margin: 10px;
  border-color: red;
  background-color: red;
  color: white;
  border-radius: 10px;
}